.status-title {
  background-color: $blue;
  height: 40px;
  border-radius: 3px;
  line-height: 40px;
  color: #FFF;
  font-weight: bold;
  padding-left: 5px;
}

.order-cards {
  background-color: #FFF;
  border-radius: 3px;
  // font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 90px;
  display: flex;
}

.order-cards-right {
  padding-right: 10px;
  font-size: 30px;
  i {
    color: $red;
  }
}

.order-cards-left {
  i {
    color: $blue;
  }

}

.order-cards-number {
  height: 90wpx;
  background-color: $red;
  color: #FFF;
  line-height: 65px;
  width: 40px;
  text-align: center;
  border-radius: 3px 0 0 3px;
}

.order-cards-informations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding-left: 10px;
}

.orders-actions {
  display: flex;
  justify-content: space-between;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.order-information-right {
  height: 100%;
  width: 65px;
  text-align: center;
  background-color: $red;
  color: #FFF;
}

.validated-order {
  margin: 10px;
  border: solid 1px $green;
  border-radius: 3px;
  padding: 10px;
  background-color: #FFF;
  display: flex;
}

.validated-order-icon {
  font-size: 80px;
  display: flex;
  align-items: center;
  color: $green;
  height: 100%;
  justify-content: center;
}

.validated-order-text {

}

