/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.wrapper {
  // height: 300px;
  height: 50vh;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-position: center;

  // color: #FFF;
}

.wrapper-blue {
  background-color: $blue;
}

h1 {
  color: #FFF;
}

.hours {

}


