.order-card {
  border: 1px solid $blue;
  margin: 10px 10px 20px 10px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  background-color: #FFF;
}

.order-card-items {
  display: flex;
  padding: 15px 5px 15px 0px;

}

.order-card-product {

}

.order-card-quantity {
  width: 20px;

}

.order-card-title {
  border-bottom: 1px solid $blue;
  margin: -5px;
  padding: 10px;
  color: #FFF;
  display: flex;
}

.order-card-title-bkcolor-1 {
  background-color: $blue;
}
.order-card-title-bkcolor-2 {
  background-color: $orange;
}
.order-card-title-bkcolor-3 {
  background-color: $blue;
}
.order-card-title-bkcolor-4 {
  background-color: $green;
}
.order-card-title-bkcolor-5 {
  background-color: $gray;
}
.order-card-title-bkcolor-6 {
  background-color: $red;
}

.order-id {
  height: 42px;
  margin: -10px 10px -10px -10px;
  line-height: 42px;
  width: 37px;
  text-align: center;
  background-color: $gray-light;
}
