<div class="container">
  <div class="row">
    <h3>Validation de votre commande</h3>
      <p>Vous venez de valider votre commande n° <%= current_order.id %></p>
      <p>Vous allez recevoir un email de confirmation</p>
      <p>Vous recevrez un nouvel email quand votre commande sera prête</p>
      <%= link_to root_path do %>
        <p class="btn btn-primary">
          Retour au site
        </p>
      <% end %>
  </div>
</div>
