<div class="container">
  <div class="row">
    <div class="validated-order">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="validated-order-icon">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="validated-order-text">
            <p>Merci pour votre commande, vous allez recevoir un email de confirmation de votre commande.</p>
            <p>Un nouvel email vous sera envoyé quand votre commande sera prête.</p>
            <p>A bientôt</p>
            <%= link_to root_path do %>
              <p class="btn btn-success btn-block">
                  Retour au site
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
