<div class="wrapper">
  <div class="address">
    <h2>Chez Marie</h2>
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    15 rue Fontaines 87230 CHAMPSAC
  </div>
  <div class="hours">
    <p><i class="fa fa-clock-o" aria-hidden="true"></i> du mardi au vendredi :</p>
    <p>7h30 à 13h30 - 16h à 19h30</p>
  </div>
    <div class="hours">
    <p><i class="fa fa-clock-o" aria-hidden="true"></i> samedi et dimanche :</p>
    <p>7h30 à 12h30</p>
  </div>
  <div class="phone">
    <a href="tel:0555785762" class="btn btn-danger">
      05.55.78.57.62
    </a>
  </div>
</div>
