<div class="container">
  <div class="row">
    <h2>Voici votre panier</h2>
    <% @order_items.each do |oi| %>
      <div class="card-cart">
        <div class="left-card-cart">
          <div class="card-cart-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= helper_picture_url(oi.product)%>)">
          </div>
          <%= oi.product.name %>
        </div>
        <div class="right-card-cart">
          <i class="fa fa-minus-circle" aria-hidden="true"></i>
          <div class="cart-quantity">
            <%= oi.quantity %>
          </div>
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </div>
      </div>
    <% end %>
  </div>
</div>
