<div class="container">
  <div class="row">
    <h3>Votre panier</h3>
    <div id="cart-list">
      <%= render 'cart_quantity' %>
    </div>
    <div class="cart-validation-button">
      <% if current_order.id.nil? %>
        <%= link_to root_path do %>
          <p class="btn btn-danger btn-block">
            Votre panier est vide
          </p>
        <% end %>
      <% else %>
        <%= link_to order_path(current_order.id), method: "patch" do %>
          <p class="btn btn-danger btn-block">
            Valider votre panier
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
