<div class="container">
  <div class="row">
    <h2>Voici votre panier</h2>
    <% @order_items.each do |oi| %>
      <p>
        <%= oi.product.name %> <%= oi.quantity %>
      </p>
    <% end %>
  </div>
</div>
