.category-parent {
  font-weight: bold;
}

.category-children {
  width: 300px;
  i {
    color: $blue;
  }
}

.category-tree {
  width: 20px;
  border-left: solid $gray 1px;
  border-bottom: solid $gray 1px;
  i {
    color: red;
  }
}

.category-empty {
  width: 20px;
}

.td-empty {
  height: 20px;
}

.menu-items {
  ul li {
    display: inline;
  }
}

.navigation-menu {
  display: flex;
  i {
    color: $red;
    font-size: 36px;
    margin-left: 10px;
  }
  ul {
    -webkit-padding-start: 10px;
  }
}
