<%= render 'user_mailer/header' %>
<p>Bonjour <%= @user.firstname.capitalize %>,</p>
<p>Nous vous confirmons la prise en compte de votre commande.</p>
<p>Dés qu'elle sera prête, nous vous ferons parvenir un nouvel email.</p>

<p>Bonne journée.</p>

<p>Marie</p>
<%= render 'user_mailer/footer' %>
